Question 4

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("Q4_ADX_Sample_data.csv")
df.head()

,date,pub_id,app_id,ad_unit_code,country,requests,ae_responses,ae_impressions,ae_clicks,ae_revenue
0,10/20/2022,1987,16243270,22832846443,Tanzania,36,36,34,0,0.035738
1,10/20/2022,1987,16243270,22832846593,Tanzania,24,24,23,0,0.064384
2,10/20/2022,1987,16243270,22832846443,Thailand,949,949,876,20,4.943878
3,10/20/2022,1987,16243270,22832846593,Thailand,1006,907,688,134,24.226836
4,10/20/2022,1987,16243270,22832827729,Thailand,373,287,156,20,2.759392

In [5]:
df.shape

(47935, 10)

In [6]:
df.describe()

,pub_id,app_id,ad_unit_code,requests,ae_responses,ae_impressions,ae_clicks,ae_revenue
count,47935.000000,4.793500e+04,4.793500e+04,47935.000000,47935.000000,47935.000000,47935.000000,47935.000000
mean,413.188213,5.015577e+07,2.268402e+10,585.827808,516.918202,257.055137,13.502514,2.098320
std,893.645657,2.465772e+07,1.215869e+08,3024.686475,2579.695718,1294.313552,73.922916,27.784254
min,14.000000,1.624327e+07,2.247747e+10,16.000000,16.000000,16.000000,0.000000,0.000111
25%,14.000000,2.559680e+07,2.252151e+10,50.000000,47.000000,27.000000,0.000000,0.026047
50%,51.000000,4.786228e+07,2.275208e+10,109.000000,100.000000,52.000000,2.000000,0.112968
75%,72.000000,4.786228e+07,2.277034e+10,300.000000,275.000000,140.000000,7.000000,0.537878
max,2808.000000,9.567477e+07,2.283576e+10,156435.000000,156296.000000,69448.000000,6853.000000,2137.181915

Finding out minimum and maximun threshold values of revenue to find outliers

Considering revenue as main attribute as the impact of revenue is higher and most of the fraud happens to create high revenue with less impressions or click i.e easy money tactics.

In [7]:
min_thresold, max_thresold = df.ae_revenue.quantile([0.001, 0.999])
min_thresold, max_thresold

(0.000283868, 310.976736520022)

In [10]:
df[df.ae_revenue < min_thresold]

,date,pub_id,app_id,ad_unit_code,country,requests,ae_responses,ae_impressions,ae_clicks,ae_revenue
16265,10/13/2022,2808,43840611,22487639725,Sudan,109,28,17,0,0.000254
22616,10/20/2022,51,47862278,22835408323,North Macedonia,37,31,29,0,0.000274
22620,10/20/2022,51,47862278,22835408323,Martinique,16,16,16,0,0.000250
22621,10/20/2022,51,47862278,22835408323,Tajikistan,20,18,16,0,0.000111
22636,10/20/2022,51,47862278,22521510534,Malawi,34,23,20,0,0.000178
22639,10/20/2022,51,47862278,22835408323,Mauritius,21,20,20,0,0.000167
22706,10/20/2022,51,47862278,22835408323,Libya,39,25,23,0,0.000274
24827,10/25/2022,51,47862278,22521510441,Sri Lanka,50,25,23,0,0.000210
24919,10/25/2022,51,47862278,22521510534,Myanmar (Burma),54,32,22,0,0.000228
24926,10/25/2022,51,47862278,22521510534,Namibia,23,22,16,0,0.000134
24962,10/25/2022,51,47862278,22521510534,Algeria,67,36,19,0,0.000243
24982,10/25/2022,51,47862278,22521510534,Sudan,23,23,21,0,0.000255
25068,10/21/2022,51,47862278,22521510441,Iraq,59,39,24,0,0.000282
25121,10/21/2022,51,47862278,22835408323,Nepal,33,28,25,1,0.000245
25256,10/21/2022,51,47862278,22521510441,Morocco,48,38,22,0,0.000269
25350,10/21/2022,51,47862278,22521510534,Bangladesh,116,41,25,0,0.000211
25352,10/21/2022,51,47862278,22521510441,Bangladesh,106,41,23,0,0.000251
25466,10/21/2022,51,47862278,22835408323,Palestine,18,18,18,0,0.000246
25490,10/21/2022,51,47862278,22521510441,Myanmar (Burma),71,40,20,1,0.000278
26637,10/27/2022,51,47862278,22521510441,Kyrgyzstan,29,22,21,0,0.000200
26638,10/27/2022,51,47862278,22521510534,Kyrgyzstan,34,24,22,0,0.000217
26847,10/27/2022,51,47862278,22521510441,Algeria,45,29,18,0,0.000269
26848,10/27/2022,51,47862278,22521510534,Algeria,45,25,18,0,0.000230
26871,10/27/2022,51,47862278,22521510441,Iraq,59,38,19,0,0.000246
27109,10/23/2022,51,47862278,22521510534,Iraq,48,38,22,0,0.000263
27335,10/23/2022,51,47862278,22835408323,Sudan,21,17,16,0,0.000122
27358,10/23/2022,51,47862278,22835408323,Afghanistan,19,19,18,0,0.000281
27363,10/23/2022,51,47862278,22521510441,Iraq,42,36,18,0,0.000274
27377,10/23/2022,51,47862278,22835408323,Bolivia,24,20,19,2,0.000257
27916,10/3/2022,51,47862278,22521510534,Myanmar (Burma),65,42,20,0,0.000282
27923,10/19/2022,51,47862278,22835408323,Sudan,26,22,22,0,0.000159
28439,10/19/2022,51,47862278,22835408323,Martinique,21,21,21,0,0.000169
32286,10/24/2022,51,47862278,22521510534,Iraq,49,32,22,0,0.000197
32615,10/24/2022,51,47862278,22521510441,Bangladesh,72,32,23,0,0.000205
32711,10/24/2022,51,47862278,22521510534,Cameroon,39,34,16,0,0.000226
32738,10/24/2022,51,47862278,22521510441,Sri Lanka,46,26,19,0,0.000143
32741,10/24/2022,51,47862278,22521510534,Myanmar (Burma),56,31,19,0,0.000224
32742,10/24/2022,51,47862278,22521510441,Myanmar (Burma),52,32,19,0,0.000251
32758,10/24/2022,51,47862278,22521510534,Algeria,52,38,21,0,0.000183
33431,10/26/2022,51,47862278,22521510534,Algeria,65,41,28,0,0.000273
33625,10/26/2022,51,47862278,22521510441,Myanmar (Burma),59,28,22,0,0.000270
33657,10/26/2022,51,47862278,22521510441,Algeria,48,27,17,0,0.000162
33698,10/26/2022,51,47862278,22521510534,Myanmar (Burma),64,25,19,0,0.000178
35638,10/22/2022,51,47862278,22835408323,China,38,24,23,0,0.000273
35657,10/22/2022,51,47862278,22835408323,Maldives,35,22,22,1,0.000177
36068,10/22/2022,51,47862278,22521510534,Oman,26,25,17,0,0.000270
36093,10/22/2022,51,47862278,22835408323,Mauritania,38,19,19,0,0.000208
36124,10/22/2022,51,47862278,22835408323,Venezuela,44,29,21,0,0.000154

In [12]:
df[df.ae_revenue > max_thresold]

,date,pub_id,app_id,ad_unit_code,country,requests,ae_responses,ae_impressions,ae_clicks,ae_revenue
446,10/28/2022,1987,16243270,22832846593,United States,3631,3620,2850,3,495.312426
1550,10/13/2022,14,22693095,22752080475,United States,14748,11505,5122,507,331.073075
1951,10/20/2022,14,22693095,22752080475,United States,17037,14479,6407,776,529.644731
2324,10/31/2022,14,22693095,22752080475,United States,24723,23355,10745,1418,878.950183
2326,10/31/2022,14,22693095,22752632444,United States,39482,36651,9468,729,367.793397
3029,10/15/2022,14,22693095,22752080475,United States,15093,11914,5466,563,371.073316
3405,10/25/2022,14,22693095,22752080475,United States,22581,20308,9091,1181,885.285946
3407,10/25/2022,14,22693095,22752632444,United States,35019,34751,8796,584,319.372810
3773,10/21/2022,14,22693095,22752080475,United States,18968,16522,7683,1072,665.318775
4144,10/30/2022,14,22693095,22752080475,United States,21921,20493,9541,1277,820.631786
4146,10/30/2022,14,22693095,22752632444,United States,35837,33275,8758,599,337.547398
4497,10/17/2022,14,22693095,22752080475,United States,15476,12414,5719,716,493.935379
4881,10/27/2022,14,22693095,22752080475,United States,24354,21876,9905,1142,925.251211
4883,10/27/2022,14,22693095,22752632444,United States,36533,33492,7957,591,337.813519
5238,10/23/2022,14,22693095,22752080475,United States,16887,14936,6842,952,698.077658
5978,10/19/2022,14,22693095,22752080475,United States,17295,14680,6407,820,540.934204
6714,10/29/2022,14,22693095,22752080475,United States,23904,22166,10025,1234,799.448080
6716,10/29/2022,14,22693095,22752632444,United States,38363,35314,8703,640,343.041634
7777,10/12/2022,14,22693095,22752080475,United States,15158,11869,5264,595,339.933470
8498,10/14/2022,14,22693095,22752080475,United States,14709,11391,5050,517,347.734108
9215,10/24/2022,14,22693095,22752080475,United States,20111,17997,8456,1123,820.169796
9590,10/16/2022,14,22693095,22752080475,United States,14052,11155,5135,634,387.968068
9963,10/26/2022,14,22693095,22752080475,United States,22644,20658,9415,1172,903.627667
9965,10/26/2022,14,22693095,22752632444,United States,35513,34472,8263,567,326.907866
10310,10/18/2022,14,22693095,22752080475,United States,16899,13686,6262,758,492.596706
10646,10/6/2022,14,22693095,22752080475,United States,14508,10706,4675,491,314.301982
11031,10/28/2022,14,22693095,22752080475,United States,25317,23278,10393,1298,860.333985
11033,10/28/2022,14,22693095,22752632444,United States,38251,35302,8316,572,338.889977
11774,10/22/2022,14,22693095,22752080475,United States,19045,16820,7716,1052,690.054155
13528,10/5/2022,281,40931528,22827475021,Australia,37154,37013,17570,173,315.571224
13529,10/5/2022,281,40931528,22827475225,Australia,45768,44734,22423,453,954.945284
13531,10/5/2022,281,40931528,22827807110,Australia,59347,59342,19002,372,892.876023
14159,10/7/2022,281,40931528,22827475021,Australia,53562,53339,26992,2,533.594207
14160,10/7/2022,281,40931528,22827475225,Australia,66700,65587,34939,38,1358.036254
14161,10/7/2022,281,40931528,22827806057,Australia,24076,23519,9711,8,354.920845
14162,10/7/2022,281,40931528,22827807110,Australia,82199,82148,27330,6,1296.540283
14309,10/9/2022,281,40931528,22827475021,Australia,109421,109177,57126,3,844.507908
14310,10/9/2022,281,40931528,22827475225,Australia,128311,126743,69448,21,2137.181915
14311,10/9/2022,281,40931528,22827806057,Australia,51191,50217,23086,1,657.825916
14312,10/9/2022,281,40931528,22827807110,Australia,156435,156296,48011,2,1860.866497
15126,10/6/2022,281,40931528,22827475021,Australia,55842,55575,26597,1,452.353588
15127,10/6/2022,281,40931528,22827475225,Australia,68902,67457,34316,108,1327.266005
15128,10/6/2022,281,40931528,22827806057,Australia,25759,24910,10227,34,338.715133
15129,10/6/2022,281,40931528,22827807110,Australia,87817,87806,27710,10,1241.249077
15644,10/8/2022,281,40931528,22827475021,Australia,64629,64444,32812,3,617.616407
15645,10/8/2022,281,40931528,22827475225,Australia,79676,78464,41852,34,1641.986936
15646,10/8/2022,281,40931528,22827806057,Australia,29689,29094,12430,4,433.325742
15647,10/8/2022,281,40931528,22827807110,Australia,97698,97635,31054,12,1457.692016

Calculating threshold for clicks as the organisaion gets most of the revenue from the no of clickstook place 
so considerig this as the highest priority action over other actions like requests, responses, impressions.

In [16]:
min_thresold, max_thresold = df.ae_clicks.quantile([0.001, 0.999])
min_thresold, max_thresold

(0.0, 729.5280000000494)

In [17]:
df.head()

,date,pub_id,app_id,ad_unit_code,country,requests,ae_responses,ae_impressions,ae_clicks,ae_revenue
0,10/20/2022,1987,16243270,22832846443,Tanzania,36,36,34,0,0.035738
1,10/20/2022,1987,16243270,22832846593,Tanzania,24,24,23,0,0.064384
2,10/20/2022,1987,16243270,22832846443,Thailand,949,949,876,20,4.943878
3,10/20/2022,1987,16243270,22832846593,Thailand,1006,907,688,134,24.226836
4,10/20/2022,1987,16243270,22832827729,Thailand,373,287,156,20,2.759392

In [19]:
df[df.ae_clicks > max_thresold]

,date,pub_id,app_id,ad_unit_code,country,requests,ae_responses,ae_impressions,ae_clicks,ae_revenue
1951,10/20/2022,14,22693095,22752080475,United States,17037,14479,6407,776,529.644731
2324,10/31/2022,14,22693095,22752080475,United States,24723,23355,10745,1418,878.950183
3405,10/25/2022,14,22693095,22752080475,United States,22581,20308,9091,1181,885.285946
3773,10/21/2022,14,22693095,22752080475,United States,18968,16522,7683,1072,665.318775
4144,10/30/2022,14,22693095,22752080475,United States,21921,20493,9541,1277,820.631786
4881,10/27/2022,14,22693095,22752080475,United States,24354,21876,9905,1142,925.251211
5238,10/23/2022,14,22693095,22752080475,United States,16887,14936,6842,952,698.077658
5978,10/19/2022,14,22693095,22752080475,United States,17295,14680,6407,820,540.934204
6714,10/29/2022,14,22693095,22752080475,United States,23904,22166,10025,1234,799.448080
9215,10/24/2022,14,22693095,22752080475,United States,20111,17997,8456,1123,820.169796
9963,10/26/2022,14,22693095,22752080475,United States,22644,20658,9415,1172,903.627667
10310,10/18/2022,14,22693095,22752080475,United States,16899,13686,6262,758,492.596706
11031,10/28/2022,14,22693095,22752080475,United States,25317,23278,10393,1298,860.333985
11774,10/22/2022,14,22693095,22752080475,United States,19045,16820,7716,1052,690.054155
14832,10/2/2022,281,40931528,22827475225,Australia,19884,19547,10123,1046,296.486583
14834,10/2/2022,281,40931528,22827807110,Australia,25114,25086,7429,870,149.098094
36128,10/11/2022,107,63338696,22744920306,India,19576,11707,7410,1157,101.605733
36186,10/13/2022,107,63338696,22744920306,India,17065,10694,6911,1084,88.541518
36218,10/20/2022,107,63338696,22744920306,India,23953,13379,8758,1304,115.708946
36257,10/15/2022,107,63338696,22744920306,India,20489,11435,7364,1035,107.754613
36285,10/21/2022,107,63338696,22744920306,India,21722,12783,8300,1244,116.991575
36314,10/17/2022,107,63338696,22744920306,India,19197,12943,8151,1218,104.919275
36374,10/19/2022,107,63338696,22744920306,India,25826,15363,10143,1505,144.192724
36395,10/7/2022,107,63338696,22744920306,India,16071,10574,6596,863,77.354057
36410,10/9/2022,107,63338696,22744920306,India,16153,9566,5863,847,64.637718
36426,10/10/2022,107,63338696,22744920306,India,12139,8336,5203,779,65.283138
36450,10/12/2022,107,63338696,22744920306,India,17061,10566,6828,950,92.707637
36473,10/2/2022,107,63338696,22744920306,India,16512,10949,6509,968,110.227168
36495,10/14/2022,107,63338696,22744920306,India,16789,10774,6916,1056,95.993329
36531,10/4/2022,107,63338696,22744920306,India,16713,10244,6444,901,73.516867
36559,10/16/2022,107,63338696,22744920306,India,21219,12223,8065,1241,99.532273
36596,10/18/2022,107,63338696,22744920306,India,20274,13648,8664,1284,113.657691
36618,10/6/2022,107,63338696,22744920306,India,14839,9161,5868,753,72.063011
36637,10/8/2022,107,63338696,22744920306,India,17915,10987,6806,844,80.008202
36684,10/1/2022,34,66981243,22820154258,India,33923,22985,14704,2244,43.832027
36685,10/1/2022,34,66981243,22820645417,India,60010,60008,39941,4227,66.838704
36686,10/1/2022,34,66981243,22820645936,India,42149,41210,33515,6853,71.303365
36705,10/1/2022,34,66981243,22820154258,Pakistan,16653,16629,11478,2851,60.797174
36706,10/1/2022,34,66981243,22820645417,Pakistan,27900,27891,17857,2291,38.073616
36707,10/1/2022,34,66981243,22820645936,Pakistan,18948,18919,14326,3310,36.498474
36850,10/2/2022,34,66981243,22820154258,India,32400,27592,18543,2240,73.916350
36851,10/2/2022,34,66981243,22820645417,India,57238,57238,38639,2872,71.276619
36852,10/2/2022,34,66981243,22820645936,India,40374,39718,32217,4415,79.823857
36866,10/2/2022,34,66981243,22820154258,Pakistan,20179,20140,14023,2748,74.328778
36867,10/2/2022,34,66981243,22820645417,Pakistan,32376,32356,21020,2247,46.274621
36868,10/2/2022,34,66981243,22820645936,Pakistan,22181,22135,16747,3537,43.632066
37927,10/15/2022,72,84650721,22477473702,India,6340,6340,5903,744,5.817668
41037,10/18/2022,72,84650721,22477473702,India,6710,6708,6176,737,7.139920

In [20]:
df[df.ae_clicks < min_thresold]

Empty DataFrame
Columns: [date, pub_id, app_id, ad_unit_code, country, requests, ae_responses, ae_impressions, ae_clicks, ae_revenue]
Index: []

Filtering out the rows with revenue higher than its threshold and clicks lower than its treshold 
because if there are any frauds happened to make easy money with less actions we can filter them at this point

In [40]:
df_new = df.drop(df[(df['ae_revenue'] > max_thresold) & (df['ae_clicks'] < max_thresold )].index)
df_new.shape

(47884, 10)

After filtering unusalgeneration of higher revenue 
this is the new dataset

In [41]:
df_new.head()

,date,pub_id,app_id,ad_unit_code,country,requests,ae_responses,ae_impressions,ae_clicks,ae_revenue
0,10/20/2022,1987,16243270,22832846443,Tanzania,36,36,34,0,0.035738
1,10/20/2022,1987,16243270,22832846593,Tanzania,24,24,23,0,0.064384
2,10/20/2022,1987,16243270,22832846443,Thailand,949,949,876,20,4.943878
3,10/20/2022,1987,16243270,22832846593,Thailand,1006,907,688,134,24.226836
4,10/20/2022,1987,16243270,22832827729,Thailand,373,287,156,20,2.759392

In [42]:
min_thresold, max_thresold = df_new.ae_clicks.quantile([0.001, 0.999])
min_thresold, max_thresold

(0.0, 512.4680000000226)

Testing the Threshold and data frame after filtering rows

In [43]:
min_thresold, max_thresold = df_new.ae_revenue.quantile([0.001, 0.999])
min_thresold, max_thresold

(0.000283766, 189.19125019205978)

In [44]:
df_new[df_new.ae_revenue > max_thresold]

,date,pub_id,app_id,ad_unit_code,country,requests,ae_responses,ae_impressions,ae_clicks,ae_revenue
125,10/27/2022,1987,16243270,22832846593,United States,1324,1322,1015,9,198.539550
260,10/29/2022,1987,16243270,22832846593,United States,3462,3389,2574,3,218.468009
328,10/24/2022,1987,16243270,22832846593,United States,2203,2201,1817,17,259.560986
446,10/28/2022,1987,16243270,22832846593,United States,3631,3620,2850,3,495.312426
842,10/11/2022,14,22693095,22752080475,United States,14469,11127,4808,522,289.267323
1178,10/1/2022,14,22693095,22752080475,United States,13019,8662,3901,411,256.637690
1550,10/13/2022,14,22693095,22752080475,United States,14748,11505,5122,507,331.073075
2324,10/31/2022,14,22693095,22752080475,United States,24723,23355,10745,1418,878.950183
2326,10/31/2022,14,22693095,22752632444,United States,39482,36651,9468,729,367.793397
2661,10/5/2022,14,22693095,22752080475,United States,13757,10091,4325,446,270.697540
3029,10/15/2022,14,22693095,22752080475,United States,15093,11914,5466,563,371.073316
3405,10/25/2022,14,22693095,22752080475,United States,22581,20308,9091,1181,885.285946
3407,10/25/2022,14,22693095,22752632444,United States,35019,34751,8796,584,319.372810
3775,10/21/2022,14,22693095,22752632444,United States,28262,27868,6401,403,226.265854
4144,10/30/2022,14,22693095,22752080475,United States,21921,20493,9541,1277,820.631786
4146,10/30/2022,14,22693095,22752632444,United States,35837,33275,8758,599,337.547398
4497,10/17/2022,14,22693095,22752080475,United States,15476,12414,5719,716,493.935379
4881,10/27/2022,14,22693095,22752080475,United States,24354,21876,9905,1142,925.251211
4883,10/27/2022,14,22693095,22752632444,United States,36533,33492,7957,591,337.813519
5240,10/23/2022,14,22693095,22752632444,United States,27927,27583,7070,423,257.229284
5616,10/3/2022,14,22693095,22752080475,United States,12755,8942,4022,409,278.104106
6323,10/7/2022,14,22693095,22752080475,United States,14795,11030,4841,534,296.796329
6714,10/29/2022,14,22693095,22752080475,United States,23904,22166,10025,1234,799.448080
6716,10/29/2022,14,22693095,22752632444,United States,38363,35314,8703,640,343.041634
7418,10/10/2022,14,22693095,22752080475,United States,12500,9615,4135,453,249.098455
7777,10/12/2022,14,22693095,22752080475,United States,15158,11869,5264,595,339.933470
8135,10/2/2022,14,22693095,22752080475,United States,10884,7310,3345,338,210.670560
8498,10/14/2022,14,22693095,22752080475,United States,14709,11391,5050,517,347.734108
8861,10/4/2022,14,22693095,22752080475,United States,14543,10275,4730,434,310.741762
9215,10/24/2022,14,22693095,22752080475,United States,20111,17997,8456,1123,820.169796
9217,10/24/2022,14,22693095,22752632444,United States,32026,31722,8243,579,286.245106
9590,10/16/2022,14,22693095,22752080475,United States,14052,11155,5135,634,387.968068
9963,10/26/2022,14,22693095,22752080475,United States,22644,20658,9415,1172,903.627667
9965,10/26/2022,14,22693095,22752632444,United States,35513,34472,8263,567,326.907866
10646,10/6/2022,14,22693095,22752080475,United States,14508,10706,4675,491,314.301982
11031,10/28/2022,14,22693095,22752080475,United States,25317,23278,10393,1298,860.333985
11033,10/28/2022,14,22693095,22752632444,United States,38251,35302,8316,572,338.889977
11397,10/8/2022,14,22693095,22752080475,United States,13070,9857,4331,450,230.973048
11776,10/22/2022,14,22693095,22752632444,United States,29860,29377,7142,469,256.097428
13528,10/5/2022,281,40931528,22827475021,Australia,37154,37013,17570,173,315.571224
13530,10/5/2022,281,40931528,22827806057,Australia,17075,16416,6551,135,224.899466
14159,10/7/2022,281,40931528,22827475021,Australia,53562,53339,26992,2,533.594207
14161,10/7/2022,281,40931528,22827806057,Australia,24076,23519,9711,8,354.920845
14311,10/9/2022,281,40931528,22827806057,Australia,51191,50217,23086,1,657.825916
15126,10/6/2022,281,40931528,22827475021,Australia,55842,55575,26597,1,452.353588
15128,10/6/2022,281,40931528,22827806057,Australia,25759,24910,10227,34,338.715133
15644,10/8/2022,281,40931528,22827475021,Australia,64629,64444,32812,3,617.616407
15646,10/8/2022,281,40931528,22827806057,Australia,29689,29094,12430,4,433.325742

In [45]:
df_new.head()

,date,pub_id,app_id,ad_unit_code,country,requests,ae_responses,ae_impressions,ae_clicks,ae_revenue
0,10/20/2022,1987,16243270,22832846443,Tanzania,36,36,34,0,0.035738
1,10/20/2022,1987,16243270,22832846593,Tanzania,24,24,23,0,0.064384
2,10/20/2022,1987,16243270,22832846443,Thailand,949,949,876,20,4.943878
3,10/20/2022,1987,16243270,22832846593,Thailand,1006,907,688,134,24.226836
4,10/20/2022,1987,16243270,22832827729,Thailand,373,287,156,20,2.759392

Adding all the actions to consider if the revenue generated is higher with less actions from a customer

In [46]:
df_new['actions'] = df_new['requests'] + df_new['ae_responses']

In [48]:
df_new.head()

,date,pub_id,app_id,ad_unit_code,country,requests,ae_responses,ae_impressions,ae_clicks,ae_revenue,actions
0,10/20/2022,1987,16243270,22832846443,Tanzania,36,36,34,0,0.035738,72
1,10/20/2022,1987,16243270,22832846593,Tanzania,24,24,23,0,0.064384,48
2,10/20/2022,1987,16243270,22832846443,Thailand,949,949,876,20,4.943878,1898
3,10/20/2022,1987,16243270,22832846593,Thailand,1006,907,688,134,24.226836,1913
4,10/20/2022,1987,16243270,22832827729,Thailand,373,287,156,20,2.759392,660

In [49]:
df_new['actions'] =df_new['actions'] + df_new['ae_impressions'] + df_new['ae_clicks']
df_new.head()

,date,pub_id,app_id,ad_unit_code,country,requests,ae_responses,ae_impressions,ae_clicks,ae_revenue,actions
0,10/20/2022,1987,16243270,22832846443,Tanzania,36,36,34,0,0.035738,106
1,10/20/2022,1987,16243270,22832846593,Tanzania,24,24,23,0,0.064384,71
2,10/20/2022,1987,16243270,22832846443,Thailand,949,949,876,20,4.943878,2794
3,10/20/2022,1987,16243270,22832846593,Thailand,1006,907,688,134,24.226836,2735
4,10/20/2022,1987,16243270,22832827729,Thailand,373,287,156,20,2.759392,836

Calculating threshold of actions to filter the data frame

In [50]:
min_thresold, max_thresold = df_new.actions.quantile([0.001, 0.999])
min_thresold, max_thresold

(48.0, 71375.30100000763)

In [ ]:
filtering those rows with higher revenue and lesser actions

In [53]:
df_new1 = df_new.drop(df_new[(df_new['ae_revenue'] > max_thresold) & (df_new['actions'] < max_thresold )].index)
df_new.shape

(47884, 11)

There is no outlier found after filtering out the data frame based on the threshold of clicks and revenue